@font-face {
    font-family: 'NorseBold';
    src: url('font/Norse-Bold.otf') format('opentype');
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.container {
    /* max-width: 70%; */
    width: 70vw;
    height: 100vh;
    background-color: #ececec;
}
.content {
    display: flex;
    width: 100%;
}
.img-container {
    width: 40%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.odin-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.odin-icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    background-color: #00000073;
    width: 100%;
    justify-content: center;
    top: 20%;
    padding: 10px;
}
.odin-logo {
    height: 120px;
}
.logo-text{
    font-family: 'NorseBold', sans-serif;
    color: #ececec;
    font-size: 5rem;
}
.credits {
    position: absolute;
    top: 96%;
    left: 30%;
    z-index: 1;
    color: #ececec;
    font-size: 1rem;
}

.credits span {
    font-family: sans-serif;
    text-decoration: underline;
}

.card-container {
    width: 60%;
    height: 100vh;
    background-color: #f8f8f8;
}
.header {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 100px 40px 30px 40px;
}
.header p:last-child {
    padding-top: 20px;
}
.form-container {
    position: relative;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 1px 5px 15px #b9b9b92c;
    transition: all 0.3s;

}
.form-container:hover {
    box-shadow: 1px 5px 15px #b9b9b993;
}
.form-container h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.flex {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.form-row {
    display: flex;
    flex-direction: column;
}
.form-row label {
    font-size: .8rem;
    font-weight: 600;
    color: #4d4d4d;
}
.form-row input {
    width: 250px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    transition: border-color 0.3s;
    margin-bottom: 3px;
}
.form-row input:focus {
    border: 1px solid #682bf8;
    box-shadow: 0 0 5px #b9b9b9;
    outline: none;
}
.form-row.success input{
    border-color: #4fd89f;
}
.form-row.error input{
    border-color: #ce4949;
}
.form-row .error {
    color: #ce4949;
    font-size: 12px;
    height: 13px;
    margin-bottom: 10px;
    font-weight: bold;
}


.btn {
    position: absolute;
    top: 350px;
    background-color: #596D48;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #4d4d4d79;
    transition: all 0.3s;

    cursor: pointer;
}
.btn:hover {
    background-color: #546644;
    box-shadow: none;

}
.ask {
    position: absolute;
    top: 430px;
}
.ask p {
    font-weight: bold;
    font-size: 1rem;
}
.ask .link {
    text-decoration: none;
    color:#596D48
}
@media screen and (max-width: 1400px){
    .container {
        width: 100%;
    }
    .flex {
        display: flex;
        gap: 2rem;
    }
}
@media screen and (max-width: 1000px){
    .flex {
        display: flex;
        gap: 1rem;
    }
    .form-row input {
        width: 220px;
    }
    .card-container {
        height: 100vh;
    }
}

@media screen and (max-width: 820px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .img-container {
        width: 100%;
        height: 30vh;
    }
    .card-container {
        width: 100%;
    }
    .footer {
        display: none;
    }
    .header {
        padding: 30px;
    }
    .form-row input {
        width: 280px;
    }
}
@media screen and (max-width: 720px) {
    .form-row input {
        width: 210px;
    }

}
